<div class="d-flex align-items-center">
    <h1>募集一覧</h1>
    <div class="ml-auto posts_button">
        <a class="btn btn-outline-info" href="/posts/new" role="button">投稿</a>
    </div>
</div>
<table class="table table-bordered border-primary table-hover table-sm posts_table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">開催内容</th>
      <th scope="col">場所</th>
      <th scope="col">投稿者</th>
      <th scope="col">投稿日</th>
      <th scope="col">更新日時</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>渋谷ナイト</td>
      <td>渋谷区第一小学校</td>
      <td>鈴木</td>
      <td>2021/08/01</td>
      <td>2021/08/01</td>
    </tr>
  </tbody>
</table>